.inc-tree.tree-container {
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}
.inc-tree .unbordered {
	border-bottom: none;
}
.inc-tree .highlinted {
	background-color: #efefef;
}

.inc-tree li {
	padding: 0;
	border-radius: 0px;
	/*transition: .25s all linear;*/
}

.inc-tree li:hover:not(.headers) {
	cursor: pointer;
	/*background-color: #efefef;*/

}

.inc-tree {
	border-radius: 0px;
	margin: 0;
	padding: 0;
}

.inc-tree.collapsed li {
	display: none;
}

.inc-tree.depth-1 .text-box {
	padding-left: 50px;
}
.inc-tree.depth-1 .edit-box{
	margin-left: 50px;
}

.inc-tree.depth-2 .text-box {
	padding-left: 100px;
}

.inc-tree.depth-2 .edit-box{
	margin-left: 100px;
}



.inc-tree.depth-3 .text-box {
	padding-left: 150px;
}

.inc-tree.depth-3 .edit-box{
	margin-left: 150px;
}


.inc-tree.depth-4 .text-box {
	padding-left: 200px;
}

.inc-tree.depth-4 .edit-box{
	margin-left: 200px;
}


.inc-tree.depth-5 .edit-box,
.inc-tree.depth-6 .text-box {
	padding-left: 200px;
}


.inc-tree .edit-box .action-close,
.inc-tree .text-box .action-close {
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	color: gray;
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 0.3;
	transition: 0.1s all linear;
}

.inc-tree .edit-box .action-close:hover,
.inc-tree .text-box .action-close:hover {
	opacity: 0.8;
}

.inc-tree .headers {
	padding: 15px;
	font-weight: bold;
}

.inc-tree .text-box {
	padding: 15px;
}

.inc-tree .edit-box {
	padding-left: 15px;
}
.inc-tree .add-box,
.inc-tree .edit-box {
	border: 1px solid #efefef !important;
	border-radius: 5px;
	margin: 0px;
	box-shadow: 0 0 8px #888;
	z-index: 10;
	margin-bottom: 5px;
	position: relative;
}

.inc-tree .edit-box .action-cancel,
.inc-tree .edit-box .action-save {
	margin-top: 25px;
	display: inline-block;
	width: 48%;
}
.inc-tree .edit-box .period-type {
	/*margin-top: 25px;*/
}

.inc-tree .edit-box .control-label {
	color: gray;
	font-weight: bold;
	font-size: .75em;
}

.inc-tree .list-group-item {
	border-radius: 0px;
}


.inc-tree .list-group-item {
	border-left: none;
	border-right: none;
}

.inc-tree .left {
	text-align: left;
}

.inc-tree .right {
	text-align: right;
}

.inc-tree .center {
	text-align: center;
}

.inc-tree [class^="action-"] {
	margin: -4px 0;
	display: inline-block;
}

.inc-tree .actions.visible a {
	display: inline-block;
	opacity: 1;
}

.inc-tree .actions a {
	float: right;
	display: inline-block;
	font-size: 22px;
	padding: 0 8px;
	margin: -5px 0;
	display: none;
}

.inc-tree .actions a img {
	opacity: 0.9;
}

.inc-tree .actions a:hover img{
	opacity: 1;
}

/* icons */
.ic-plus-squared {
	display: inline-block;
	width:            18px;
	height:           18px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAB4SURBVDiNzdDBDYAgEETRv7SE4WQBNCINUAcN0IjWQOwJTxrlIhE0znETXoYR7eaRTAAMz5IQvGpEAAyZoBqRA1MdEABuoTVaWaOVZqg2/4NET3M+H2r2ABjccnn3XqMye8OyQZn/jf3dRrXp+rXUwUkKwTdiCcFvVQ0e9QCLJjwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
	margin: 0px 3px -3px 2px;
}

.ic-minus-squared {
	display: inline-block;
	width:            18px;
	height:           18px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABqSURBVDiN7dDBCYAwDIXhP8GNKp4cwEXsAp2jC7hInSG4U7158FKxFUR8x5D3ESLOp5FMBAbuxRCCViIAA5molciBaQMEgB8qpzsPtmWSK8Xer/mRi8TNKZfXynnfsz8OWQPHFCFUYoYQdrs+Ev93r1lVAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
	margin: 0px 3px -3px 2px;
}
